@media (max-width: 1120px) {
    .cabecalho .logo{
        max-width: 290px;
    }

    .selecao-de-personagem{
        flex-direction: column-reverse;
        max-width: 400px;
        margin: 0 auto;
    }

    .selecao-de-personagem .personagens{
        margin-top: 20px;
    }

    .selecao-de-personagem .personagens .titulo{
        font-size: 15px;
    }

    .selecao-de-personagem 
    .lista-de-personagens{
        gap: 9px;
    }

    .selecao-de-personagem .personagem img{
        width: 85px;
        height: 85px;
    }

    .personagem-selecionado .personagem-grande{
        width: 200px;
        height: 200px;
    }

    .personagem-selecionado .descricao-personagem{
        width: 80%;
        font-size: 16px;
        margin: 10px auto;
    }
}